name: Test
on:
  pull_request:
  push:
    tags-ignore:
      - '**' # covered by integration-ci.yml

permissions:
  checks: write
jobs:
  test:
    name: Build and run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests
        run: ./gradlew check

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          report_paths: '**/build/test-results/*/TEST-*.xml'
